<div id="optionDownload_dialog" style="display: none;" >
    <div class="option-download-wrap wrap mb35">
        <dl>
            <dt>テンプレートタイプ</dt>
            <dd>
                <select id="option_template_element" name="optionTemplate"
                        title="optiontemplate" class="c-form-control">
                </select>
            </dd>
        </dl>
        <dl>
            <dt>テンプレート名</dt>
            <dd>
                <input type="text" id="option_template_input" disabled maxlength="15" class="c-form-control w100p w300px" placeholder=""/>
            </dd>
            <div id="optionTemplateNameErr" style="display: none;" class="c-req mt5"></div>
        </dl>
    </div>
    <hr style="display: none;" class="option-download-divider"/>
    <label id="isOutHeader_label" style="display: none" class="c-form-control mb15 ml10"><input id="isOutHeader" value="true" type="checkbox"><i></i>
        <h5 class="c-pagetitle_h5">1行目に項目名を出力する</h5>
    </label>
    <div id="optional_download_tbl" class="c-sticky-tbl-wrap max_h620px option-download-table"></div>
</div>