<footer class="l-footer">
    <div class="l-footer__main">
    	<div class="l-footer__inner">
            <!-- freeArea -->
            <hm:freearea key="footer_free"/>
            <!-- // freeArea -->
        </div>
	</div>

    <div class="l-footer__credit">
        <div class="l-footer__inner">
            <div class="l-footer__logo"><img th:src="@{/assets/images/common/logo-hcl-copy.png}" width="352" alt="信頼される先生の検査室。兵庫県臨床検査研究所" class="l-footer__logo-text"><img src="/assets/images/common/logo-hcl.png" width="132" alt="HCL 兵庫県臨床検査研究所" class="l-footer__logo-hlc"></div>
            <p class="l-footer__copyright">&copy; Hyogo Clinical Laboratory Corporation</p>
        </div>
    </div>

    <a id="pagetop_icon" href="#gotop" class="l-footer__pagetop" data-scroll=""><svg viewBox="0 0 25 24">
        <use xlink:href="/assets/images/icon/pagetop.svg#pagetop"></use>
    </svg></a>
</footer>

<script type="text/javascript" th:src="@{/assets/js/common-front.js}" defer="defer"></script>
<script type="text/javascript" th:src="@{/assets/js/main_custum.js}" defer="defer"></script>

