<footer class="l-footer">
  <div class="l-footer__main l-footer__main--small">
    <div class="l-footer__inner">
      <div class="l-footer__unit">
        <div class="l-footer__address">
          <address>登録衛生検査所　株式会社 兵庫県臨床検査研究所　〒671-2224 兵庫県姫路市青山西5丁目6番2号　衛生検査所登録証明書　姫衛第5号　高度管理医療機器等販売業・貸与業許可番号　姫高第191号</address>
        </div>
      </div>
    </div>
  </div>
  <div class="l-footer__credit">
    <div class="l-footer__inner">
      <div class="l-footer__logo">
      <img th:src="@{/assets/images/common/logo-hcl-copy.png}" width="352" alt="信頼される先生の検査室。兵庫県臨床検査研究所" class="l-footer__logo-text">
      <img th:src="@{/assets/images/common/logo-hcl.png}" width="132" alt="HCL 兵庫県臨床検査研究所" class="l-footer__logo-hlc"></div>
      <p class="l-footer__copyright">&copy; Hyogo Clinical Laboratory Corporation</p>
    </div>
  </div>
  <a href="#gotop" class="l-footer__pagetop" data-scroll=""><svg viewBox="0 0 25 24">
    <use xlink:href="/assets/images/icon/pagetop.svg#pagetop"></use>
  </svg></a>
</footer>

<script type="text/javascript" th:src="@{/assets/js/common-front.js}" defer="defer"></script>
<script type="text/javascript" th:src="@{/assets/js/main_custum.js}" defer="defer"></script>

