<header class="l-header l-header--small">
  <div class="l-header__common">
    <div class="l-header__inner">
      <div class="l-header__main">
        <h1 class="l-header__logo"><a th:href="@{/}">
          <img th:src="@{/assets/images/common/shop-logo.svg}" width="12%" alt="HCL 兵庫県臨床検査研究所" class="l-header__logo-icon">
          <img th:src="@{/assets/images/common/shop-logo-text.svg}" width="84%" alt="みんなの郵送検査室" class="l-header__logo-text">
        </a></h1>
      </div>
    </div>
  </div>
  <div class="l-header__global"></div>
</header>
