
@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;
@use "../Foundation/icon" as *;

.p-order-address {

  .l-form__list {

    dt {
      min-width: 18px;
      background: $color-fff;

      label {
        padding-left: 5px;
      }
    }

    dd {
      padding: 30px 0;
    }
  }

  .address-add {
    padding: 30px 0;
    border-bottom: 1px solid rgba($color: $color-ccc, $alpha: .8);

    .c-button {
      display: inline-flex;
      align-items: center;
      height: 50px;
      min-width: 100px;
      padding: 0 30px 2px;  // 【メモ】bottomの2pxは微調整
      @include font-style(16, 24, bold);

      svg {
        fill: $color-primary;
        width: 14px;
        margin-right: 14px;
      }
    }


  }

  @include media(sm) {

    .l-form__list {

      flex-direction: row;

      dt {
        width: auto;
      }

      dd {
        padding: vwset(20) 0 vwset(20) vwset(20);
      }

    }

    .address-add {
      padding: vwset(25) 0;

      .c-button {
        min-width: vwset(100);
        height: vwset(50);
        padding: 0 vwset(25);
        @include font-sp-style(15,21);
      }


    }

  }
}




