<div xmlns:th="http://www.thymeleaf.org">
    <span>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    <br>
    <br>
    <span th:text="${shopName}"></span>
    <br>
    <span>URL： <a th:href="${hostUrl}" th:text="${hostUrl}"></a></span>
    <br>
    <span>E-Mail：<a th:href="'mailto:' + ${shopInfoMail}" th:text="${shopInfoMail}"></a></span>
    <br>
    <span>TEL：0120-256-525</span>
    <br>
    <br>
    <span>お問い合わせはこちらから</span>
    <br>
    <span><a th:href="${hostUrl} + 'inquiry/'" th:text="${hostUrl} + 'inquiry/'"></a></span>
    <br>
    <br>
    <span>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
</div>
