<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="ja">
<head>
<meta th:replace="~{include/head}" />
</head>

<body id="gotop" class="mypage">
    <div class="l-mainwrap">
        <div th:replace="~{include/header}"></div>
        <!-- main -->
        <main class="l-page l-head__pattern1">
            <div th:replace="~{include/header_mypage :: headermypage('mail')}"></div>
            <div class="l-head__pattern1__content">
                <div class="l-container">
                    <div class="l-container__inner">
                        <!-- sidemenu -->
                        <div th:replace="~{include/sidemenumember :: sidemenumember('mail')}"></div>
                        <div class="l-main">
                            <h2 class="c-title-page p-mypage__title-page">
                                <strong>メールアドレスの変更</strong>
                            </h2>
                            <div class="l-complete">
                                <div class="l-complete__inner">
                                    <p class="l-complete__title"> ご登録メールアドレスの変更が完了しました。 </p>
                                </div>
                            </div>
                            <div class="c-button-wrap p-mypage__button-wrap">
                                <a th:href="@{/}" class="c-button c-button--primary c-button--width-m">トップページへ</a>
                                <a th:href="@{/member/}" class="c-button c-button--primary c-button--width-m">マイページトップへ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{include/footer}" ></div>
    </div>
    <script src="/assets/js/bundle.js" defer="defer"></script>

</body></html>
