<div class="p-order-complete__paymentrule c-margin--s">
    <h3 class="p-order-complete__paymentrule-title"><strong>お支払い前にお読みください</strong></h3>
    <ul class="p-order-complete__paymentrule-list c-text--s">
       <li>Loppiのあるローソン／ミニストップでお支払いいただけます。<br />申込券を発行してから30分以内にレジでお支払いください。</li>
       <li>お支払いの際、お客様番号と確認番号が必要です。<br />注文完了時に画面に表示されますので、メモを取るか、このページを印刷してお持ちください。</li>
       <li>取扱明細兼受領書が領収書となりますので、お支払い後必ずお受け取りください。</li>
    </ul>
    <ul class="c-text--s c-margin--xxs">
       <li>※30万円を超えるお支払いはできません。</li>
       <li>※コンビニ店頭でのお支払いには楽天edyはご利用いただけません。現金でお支払いください。</li>
    </ul>
    <h3 class="p-order-complete__paymentrule-title c-margin--s"><strong>お支払い方法：ローソン(Loppi)/ミニストップ(Loppi)の場合</strong></h3>
    <div class="p-order-complete__paymentrule-step">
        <dl>
            <dt>STEP <span>01</span></dt>
            <dd class="c-text--s">トップページより「各種番号をお持ちの方」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>02</span></dt>
            <dd class="c-text--s">お客様番号 を入力し「次へ」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>03</span></dt>
            <dd class="c-text--s">確認番号 を入力し、「次へ」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>04</span></dt>
            <dd class="c-text--s">表示される内容を確認のうえ、「はい」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>05</span></dt>
            <dd class="c-text--s">印刷された申込券をレジに渡し、30 分以内に現金でお支払いください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>06</span></dt>
            <dd class="c-text--s">お支払い後、「取扱明細兼受領書」を必ずお受け取りください。</dd>
        </dl>
    </div>
</div>
