<div class="p-order-complete__paymentrule c-margin--s">
    <h3 class="p-order-complete__paymentrule-title"><strong>お支払い前にお読みください</strong></h3>
    <ul class="p-order-complete__paymentrule-list c-text--s">
        <li>セブンイレブン全店でお支払いいただけます。</li>
        <li>お支払いの際、払込票番号が必要です。注文完了時に画面に表示されますので、メモを取るか、ページを印刷して、コンビニまでお持ちください。</li>
    </ul>
    <ul class="c-text--s c-margin--xxs">
        <li>※30万円を超えるお支払いはできません。</li>
        <li>※コンビニ店頭でのお支払いにはクレジットカード・プリペイドカードはご利用いただけません。現金でお支払いください。</li>
    </ul>
    <h3 class="p-order-complete__paymentrule-title c-margin--s"><strong>お支払い方法</strong></h3>
    <div class="p-order-complete__paymentrule-step">
        <dl>
            <dt>STEP <span>01</span></dt>
            <dd class="c-text--s">コンビニのレジスタッフに、上記払込票番号をご提示して頂き、「インターネット支払い」希望とお伝えください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>02</span></dt>
            <dd class="c-text--s">現金で商品代金をお支払いください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>03</span></dt>
            <dd class="c-text--s">インターネットショッピング払込受領証が発行されますので、必ずお受け取りください。</dd>
        </dl>
    </div>
</div>
