<div class="p-order-complete__paymentrule c-margin--s">
    <h3 class="p-order-complete__paymentrule-title"><strong>お支払い前にお読みください</strong></h3>
    <ul class="p-order-complete__paymentrule-list c-text--s">
       <li>Famiポートのあるファミリーマートでお支払いいただけます。<br />申込券を発行してから30分以内にレジでお支払いください。</li>
       <li>お支払いの際、第１番号と第２番号が必要です。<br />注文完了時に画面に表示されますので、メモを取るか、このページを印刷してお持ちください。</li>
       <li>取扱明細兼受領書が領収書となりますので、お支払い後必ずお受け取りください。</li>
    </ul>
    <ul class="c-text--s c-margin--xxs">
       <li>※30万円を超えるお支払いはできません。</li>
       <li>※コンビニ店頭でのお支払いには楽天Edyはご利用いただけません。現金でお支払いください。</li>
    </ul>
    <h3 class="p-order-complete__paymentrule-title c-margin--s"><strong>お支払い方法</strong></h3>
    <div class="p-order-complete__paymentrule-step">
        <dl>
            <dt>STEP <span>01</span></dt>
            <dd class="c-text--s">トップページより「代金支払い／チャージ（コンビニでお支払い Payment／Charge）」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>02</span></dt>
            <dd class="c-text--s">受領書に関する注意事項を確認し、｢次へ｣を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>03</span></dt>
            <dd class="c-text--s">｢番号入力｣を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>04</span></dt>
            <dd class="c-text--s">第１番号（５桁）を入力し、「OK」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>05</span></dt>
            <dd class="c-text--s">第２番号（１２桁）を入力し、「OK」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>06</span></dt>
            <dd class="c-text--s">注意事項を確認のうえ、「同意して進む」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>07</span></dt>
            <dd class="c-text--s">お支払内容確認画面を確認のうえ、「確認」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>08</span></dt>
            <dd class="c-text--s">印刷された申込券をレジに渡し、30分以内にお支払いください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>09</span></dt>
            <dd class="c-text--s">お支払い後、「受領書」を必ずお受け取りください。</dd>
        </dl>
    </div>
</div>

