<div class="p-order-complete__paymentrule c-margin--s">
    <h3 class="p-order-complete__paymentrule-title"><strong>お支払い前にお読みください</strong></h3>
    <ul class="p-order-complete__paymentrule-list c-text--s">
       <li>クラブステーションのあるセイコーマートでお支払いいただけます。</li>
       <li>お支払いの際、受付番号と確認番号が必要です。<br />注文完了時に画面に表示されますので、メモを取るか、このページを印刷してお持ちください。</li>
       <li>お支払い後、領収書を必ずお受け取りください。</li>
    </ul>
    <ul class="c-text--s c-margin--xxs">
       <li>※30万円を超えるお支払いはできません。</li>
       <li>※コンビニ店頭でのお支払いには楽天edyはご利用いただけません。現金でお支払いください。</li>
    </ul>
    <h3 class="p-order-complete__paymentrule-title c-margin--s"><strong>お支払い方法</strong></h3>
    <div class="p-order-complete__paymentrule-step">
        <dl>
            <dt>STEP <span>01</span></dt>
            <dd class="c-text--s">コンビニエンスストアのレジスタッフに、「インターネット支払い」とお伝えください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>02</span></dt>
            <dd class="c-text--s">スタッフがレジを操作後に、入力画面が表示されます。</dd>
        </dl>
        <dl>
            <dt>STEP <span>03</span></dt>
            <dd class="c-text--s">受付番号を入力し、「登録」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>04</span></dt>
            <dd class="c-text--s">確認番号を入力し、「登録」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>05</span></dt>
            <dd class="c-text--s">お支払い内容が表示されますので、内容が正しいことをご確認のうえ、「OK」を選択してください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>06</span></dt>
            <dd class="c-text--s">現金で商品代金をお支払いください。</dd>
        </dl>
        <dl>
            <dt>STEP <span>07</span></dt>
            <dd class="c-text--s">領収書(レシート形式)が発行されますので、必ずお受け取りください。</dd>
        </dl>
	</div>
</div>

