<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ja">
<head>
	<meta th:replace="~{include/head}"/>
</head>

<body id="gotop" class="p-guide">
  <div class="l-mainwrap">
	<div th:replace="~{include/header}"/>
    
    <main class="l-page">
      <div th:replace="~{include/breadcrumb_guide::breadcrumbguide('environment')}"/>

      <div class="l-section p-guide__title-page">
        <div class="l-section__inner">
          <h2 class="c-title-page"><strong>サイトについて</strong></h2>
          <div class="p-guide__title-page-button"><a th:href="@{/guide/}" class="c-button c-button--primary-line"><p>ご利用ガイドトップ</p></a></div>
        </div>
      </div>

      <div class="l-section p-guide__localmenu">
        <div class="l-section__inner p-guide__localmenu-inner">
          <a href="#anchor-guide-shop01" class="js-anchor" data-scroll="">推奨環境について</a>
          <a href="/guide/agreement#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">ご利用規約</a>
          <a href="/guide/law#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">特定商取引法に基づく表記</a>
          <a href="/guide/privacy#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">プライバシーポリシー</a>
          <a href="/inquiry/" class="js-anchor p-guide__localmenu-notlocal">お問い合わせ</a>
        </div>
      </div>

      <div class="l-section p-guide__title-section" id="anchor-guide-shop01">
        <div class="l-section__inner p-guide__title-section-inner">
          <h3 class="p-guide__title-section-text">推奨環境について</h3>
        </div>
      </div>
      <div class="l-section">
        <div class="l-section__inner">
          <div class="p-guide__contents">
            <div class="p-guide__unit">
              <p class="p-guide__text">みんなの郵送検査室は、以下の環境でのご利用を推奨しております。</p>
              <p class="p-guide__text c-margin--xs">
                ※推奨OS・ブラウザは、動作を保証するものではありません。あらかじめご了承ください。<br>
                ※セキュリティ強化のため、高度暗号化（128ビット）通信に対応していないブラウザではご利用いただけません。推奨ブラウザをお使いください。<br>
                ※推奨環境は必要に応じて変更させていただく場合がございます。<br>
                ※文字コード変更によりパソコンの表示と異なる文字が配送伝票等に印字される可能性がございます。
              </p>
            </div>
            <div class="p-guide__unit c-margin--m">
              <h4 class="p-guide__title-unit">推奨OS・ブラウザ</h4>
              <div class="p-guide__unit-nest">
                <div class="p-guide__title-inner">【Windowsをご利用の場合】</div>
                <p class="p-guide__text">［OS］ Windows10以降<br>［ブラウザ］ Microsoft Edge、Google Chrome（最新版）</p>
                <div class="p-guide__title-inner c-margin--xs">【Macをご利用の場合】</div>
                <p class="p-guide__text">［OS］ Macintosh OS X以降<br>［ブラウザ］Safari（最新版）</p>
                <div class="p-guide__title-inner c-margin--xs">【スマートフォンご利用の場合】</div>
                <p class="p-guide__text">［OS］ iOS14以降、Android10以降<br>
                  ［ブラウザ］ 【iOS】Safari（最新版）【Android】Google Chrome（最新版）</p>
              </div>
            </div>
            <div class="p-guide__unit c-margin--m">
              <h4 class="p-guide__title-unit">動作環境</h4>
              <div class="p-guide__unit-nest">
                <p class="p-guide__text">本サイトご利用にあたって、以下の設定を有効にしてご利用を推奨しております。<br>
                  設定が無効になっている場合は、正常に表示・動作しない場合がございます。<br>
                  あらかじめご了承ください。</p>
                <ul class="p-guide__bullet-point c-margin--xs">
                  <li>Javaスクリプトの利用</li>
                  <li>Cookie（クッキー）の利用</li>
                  <li>SSLの利用</li>
                </ul>
                <p class="p-guide__text c-margin--xs">※通常、ブラウザの初期設定では上記設定は有効になっております。<br>
                  ※上記設定のご変更は、お客様のご判断にてお願いいたします。</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>

	<div th:replace="~{include/footer}"/>
  </div>
  <script src="/assets/js/bundle.js" defer="defer"></script>
</body></html>
