<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ja">
<head>
  <meta th:replace="~{include/head}" />
</head>

<body id="gotop" class="p-guide">
<div class="l-mainwrap">
  <div th:replace="~{include/header}"></div>

  <main class="l-page">
      <div th:replace="~{include/breadcrumb_guide::breadcrumbguide('privacy')}"/>

      <div class="l-section p-guide__title-page">
        <div class="l-section__inner">
          <h2 class="c-title-page"><strong>サイトについて</strong></h2>
          <div class="p-guide__title-page-button"><a th:href="@{/guide/}" class="c-button c-button--primary-line"><p>ご利用ガイドトップ</p></a></div>
        </div>
      </div>

      <div class="l-section p-guide__localmenu">
        <div class="l-section__inner p-guide__localmenu-inner">
          <a href="/guide/environment#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">推奨環境について</a>
          <a href="/guide/agreement#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">ご利用規約</a>
          <a href="/guide/law#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">特定商取引法に基づく表記</a>
          <a href="#anchor-guide-shop01" class="js-anchor p-guide__localmenu-notlocal">プライバシーポリシー</a>
          <a href="/inquiry/" class="js-anchor p-guide__localmenu-notlocal">お問い合わせ</a>

        </div>
      </div>

      <div class="l-section p-guide__title-section" id="anchor-guide-shop01">
        <div class="l-section__inner p-guide__title-section-inner">
          <h3 class="p-guide__title-section-text">プライバシーポリシー</h3>
        </div>
      </div>
      <div class="l-section">
        <div class="l-section__inner">
          <div class="p-guide__contents">
            <div class="c-terms">
              <p>みんなの郵送検査室（株式会社兵庫県臨床検査研究所　EC事業部）（以下「弊社」）では、お客様のプライバシーおよび個人情報（以下「個人情報」）の保護を重要な課題と考えております。<br>
              弊社の役員およびすべての従業員は、個人情報に関する法令およびその他の規範を遵守し、お客様の個人情報の保護に努めて参ります。<br>
              みんなの郵送検査室（以下「本サイト」）における個人情報保護に関する考え方は以下の通りです。</p>

              <dl>
                <dt>第1条（個人情報の定義）</dt>
                <dd>
                  <p>このポリシーで定義される個人情報とは、お客様に関する情報で、このうちの１つもしくはその組み合わせにより、お客様個人を識別することが可能な情報を意味します。</p>
                </dd>
              </dl>

              <dl>
                <dt>第2条（個人情報の収集と利用目的について）</dt>
                <dd>
                  <ol>
                    <li>弊社は、お客様が本サイトをご利用いただく際に、本サイトの利用を通じてお客様からご提供いただく情報は以下のとおりです。
                      <ul class="p-guide__bullet-point">
                        <li>個人識別情報（氏名、年齢、電話番号、住所、電子メールアドレス、決済情報、購入履歴、苦情、相談問合せ情報、その他当社が定める入力フォームに会員が入力する情報）</li>
                        <li>ログインデータ、Cookie、技術データ</li>
                      </ul>
                    </li>
                    <li>弊社は、お客様から取得した個人情報およびその他の情報を、以下の目的に利用いたします。なお、ご提供頂いた個人情報およびその他の情報は、以下の目的のみに利用し、他の目的には利用いたしません。また、お客様は弊社にお申し出いただければ、商品やサービスのご案内を中止することができます。
                      <ul class="p-guide__bullet-point">
                        <li>お客様への商品発送・代金決済のため。</li>
                        <li>お客様のロケーションに適した情報やサービスをお届けするため。</li>
                        <li>弊社の製品やサービスに関するお客様の検索や情報リクエストへの対応のため。</li>
                        <li>弊社のサイトまたはアプリケーションにおけるすべてのご発注の管理、特に発注された商品の発送や追跡、苦情対応などを行うため。</li>
                        <li>お客様に、弊社製品やサービスに関するアンケートや調査またはテストにご参加いただくため。</li>
                        <li>弊社サイトまたはアプリケーションの使用方法を理解し、Cookieやこれに類する技術を用いることでの運用を改善するため。</li>
                        <li>弊社製品やサービスを改善する目的での市場調査やトレンド分析を行うため。</li>
                        <li>お客様が電子メールやソーシャルネットワークで弊社サイトまたはアプリケーションの情報をシェアできるようにするため。</li>
                        <li>サービスに関する弊社の規約に違反する行為に対する対応のため。</li>
                        <li>サービスに関する弊社規約等の変更などを通知するため。</li>
                        <li>その他上記各利用目的に付随する目的のため。</li>
                      </ul>
                    </li>
                  </ol>
                </dd>
              </dl>

              <dl>
                <dt>第3条（個人情報の第三者提供）</dt>
                <dd>
                  <p>弊社は、以下の場合を除き、お客様の個人情報を第三者に提供いたしません。</p>
                  <ul class="p-guide__bullet-point">
                    <li>お客様の同意がある場合</li>
                    <li>法令に基づく場合</li>
                    <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                    <li>あらかじめ弊社との間で機密保持契約を締結しているパートナー企業に、弊社の提供するサービスに関連して、利用目的の達成に必要な範囲内において、提供する場合</li>
                  </ul>
                </dd>
              </dl>

              <dl>
                <dt>第4条（個人情報への不正アクセス等への対策）</dt>
                <dd>
                  <p>弊社では、お客様からご提供いただいた個人情報への第三者の不正なアクセスによる個人情報の漏洩・流用・改ざん等を防止するため、ファイアウォール設置・コンピュータウィルス対策、その他の合理的なセキュリティ対策を講じています。</p>
                </dd>
              </dl>

              <dl>
                <dt>第5条（個人情報の保護および安全管理措置について）</dt>
                <dd>
                  <p>本サイトでは、Secure Socket Layer（SSL）というプロトコルによりお客様よりインターネットを通じて送信される情報を暗号化して保護するための環境を提供しております。弊社の安全管理措置についてご質問等ございましたら、第6条に定めるお問い合わせ先までご連絡ください。</p>
                </dd>
              </dl>

              <dl>
                <dt>第6条（個人情報の管理者およびお問い合わせ先）</dt>
                <dd>
                  <p>お客様の個人情報の管理者は、弊社およびあらかじめ弊社との間で機密保持契約を締結しているパートナー企業といたします。当該パートナー企業に関する情報は以下のとおりです。</p>
                  <div class="c-terms__article c-margin--xs">アイテック阪急阪神株式会社　<a href="https://itec.hankyu-hanshin.co.jp/" target="_blank" class="c-textlink c-inlinelink">https://itec.hankyu-hanshin.co.jp/</a></div>
                  <p class="c-margin--xs">また、本プライバシーポリシー、個人情報等の取り扱いに関するお問い合わせ・苦情・相談、開示等についての弊社お問い合わせ先は以下の通りです。</p>
                  <div class="c-terms__article c-margin--xs">
                  【お問い合わせ先】<br>みんなの郵送検査室（株式会社兵庫県臨床検査研究所　EC事業部）<br>
                  個人情報保護管理者：猪尾龍伍<br>
                  苦情相談窓口責任者：湯浅久良<br>
                  0120ｰ256-525<br>
                  受付時間：月～土 9：30～17：00（日・祝日・弊社休業日を除く）
                  </div>
                </dd>
              </dl>

              <dl>
                <dt>第7条（クッキーに関して）</dt>
                <dd>
                  <p>クッキー（Cookies）は、お客様が本サイトに再度ご訪問された際に、より便利に本サイトを閲覧いただくためのものであり、お客様の個人情報を脅かすものではございません。<br>
                    また弊社では、本サイトの訪問者から、クッキーを含む個人関連情報（例えばウェブサイト閲覧履歴、アプリ使用履歴、商品購入履歴、OS等の端末情報、位置情報、広告識別子、IPアドレス、
                    その他のオンライン識別子等のうち、弊社においては特定の個人を識別できないもの）を取得して、広告プラットフォーム等の第三者に提供する場合があります。弊社は、広告プラットフォーム等の第三者への提供にあたり、当該第三者において、当該第三者が保持する情報と突合させることで個人データとして取得することが想定される場合、個人情報保護法上の義務を履行した上で提供を行います。<br>
                    収集した情報は、弊社もしくはあらかじめ弊社との間で機密保持契約を締結しているパートナー企業がアクセス傾向を分析し、お客様に対してより良いサービスを提供していくためや、その他本プライバシーポリシーに記載された目的のために使用いたします。<br>
                    収集した情報につきましては、お客様の個人情報同様に秘密として扱われますのでご安心ください。<br>
                    また、お客様は、ブラウザの設定により、新しいクッキーの受け取りを拒否したり、クッキーを受け取ったとき警告を表示させたり、クッキー機能を無効にしたりすることができます（設定方法は各ソフト製造元へお問い合わせ下さい）が、その場合は、本サイトの一部の機能をご利用いただけない場合がございます。<br>
                    本サイトの機能を十分に活用していただくことができるようになるには、クッキーを受け取りが可能な設定にしておくことをおすすめいたします。</p>
                </dd>
              </dl>

              <dl>
                <dt>第8条（個人情報等の開示の請求）</dt>
                <dd>
                  <p>弊社は、お客様から、個人情報保護法の定めに基づき個人情報または第三者提供記録の開示を求められたときは、お客様ご本人からのご請求であることを確認の上で、お客様に対し、遅滞なく開示を行います（当該個人情報または第三者提供記録が存在しないときにはその旨を通知いたします。）。<br>
                    ただし、個人情報保護法その他の法令により、弊社が開示の義務を負わない場合は、この限りではありません。<br>
                    なお、個人情報の開示につきましては、弊社所定の手数料を頂戴しておりますので、あらかじめご了承ください。</p>
                </dd>
              </dl>

              <dl>
                <dt>第9条（個人情報の訂正および利用停止等）</dt>
                <dd>
                  <p>弊社は、お客様から、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、
                    および(2)あらかじめ公表された利用目的の範囲を超えて取扱われているという理由、不適正な利用が行われているという理由または偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、
                    お客様ご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正または利用停止を行い、その旨をお客様に通知します。<br>
                    なお、訂正または利用停止を行わない旨の決定をしたときは、お客様に対しその旨を通知いたします。<br>
                    弊社は、お客様から、お客様の個人情報について消去を求められた場合、弊社が当該請求に応じる必要があると判断した場合は、
                    お客様ご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨をお客様に通知します。<br>
                    個人情報保護法その他の法令により、弊社が個人情報の訂正等または利用停止等の義務を負わない場合は、前二項の規定は適用されません。</p>
                </dd>
              </dl>

              <dl>
                <dt>第10条（プライバシーポリシーの改定）</dt>
                <dd>
                  <p>弊社は、弊社が保有する個人情報に関して適用される法令、規範を遵守するとともに、本プライバシーポリシーにおける取り組みを適宜見直し、
                    改善に努めます。なお、本プライバシーポリシーは、法令の定めに従い、改定されることがありますので、あらかじめご了承ください。<br>
                    本プライバシーポリシーを改定した場合、改定後のプライバシーポリシーの内容および改定時期を弊社のウェブサイト上での表示その他の適切な方法により周知し、またはお客様に通知します。</p>

                </dd>
              </dl>

              <dl>
                <dt>第11条（免責）</dt>
                <dd>
                  <p>本サイトのご利用はお客様の責任において行われるものといたします。本サイト、また、本サイトからリンクされている、もしくは本サイトへリンクしている第三者のサイトから取得された各種情報から発生したあらゆる損害について、弊社は、弊社に故意または重過失がある場合を除いて、一切の責任を負いません。</p>
                </dd>
              </dl>

              <p class="c-terms__update">2024年5月1日発効<br>みんなの郵送検査室<br>（株式会社兵庫県臨床検査研究所　EC事業部）</p>


            </div>

          </div>
        </div>
      </div>

  </main>
  <div th:replace="~{include/footer}" ></div>
</div>
<script th:src="@{/assets/js/bundle.js}" defer="defer"></script>
</body></html>
