<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <meta th:replace="~{include/head}"/>
</head>
<body id="gotop" class="p-login-user">
<div class="l-mainwrap">
	<div th:replace="~{include/header-small}"></div>

    <main class="l-page">

        <div class="l-breadcrumbs">
            <div class="l-breadcrumbs__inner">
                <div class="l-breadcrumbs__list">
                    <div class="l-breadcrumbs__item"><span class="l-breadcrumbs__link"><a href="/" class="c-textlink c-textlink--hover">TOP</a></span></div>
                    <div class="l-breadcrumbs__item"><span class="l-breadcrumbs__current">ログイン</span></div>
                </div>
            </div>
        </div>

        <form id="certificationForm" th:action="@{/certification/}" th:object="${certificationModel}" method="post" novalidate>
            <div class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-title-page"><strong>ログイン</strong></h2>

                    <div th:if="${allMessages}" th:class="${allMessages.allInfo()?'global-info-message':'c-global-error c-global-error--margin-m'}">
                        <ul th:each="message : ${allMessages}">
                            <li th:utext="${message}"></li>
                        </ul>
                    </div>

                    <div th:if="${#fields.hasErrors('*')}" class="c-global-error c-global-error--margin-m">
                        <th:block th:each="err : ${#fields.errors('*')}">
                            <p th:utext="${err}"></p>
                        </th:block>
                    </div>

                    <div class="p-login-user__col2">
                        <div class="p-login-user__member">
                            <div class="p-login-user__member-input">
                                <dl class="p-login-user__list">
                                    <dt>認証コード</dt>
                                    <dd><input th:field="*{certificationCode}" type="email" name="email" maxlength="6" value="" placeholder="ここに入力してください" class="c-input"></dd>
                                </dl>
                            </div>
                            <button th:href="@{/}" name="" type="submit" class="c-button c-button--primary c-button--width-l">ログイン</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <div th:replace="~{include/footer-small}"></div>
</div>

<script src="/assets/js/bundle.js" defer="defer"></script>
</body>
</html>
