<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>メールマガジン登録完了</title>
</head>
<body>
    <div>
        <div>
            <div>
                <span>┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
            </div>
            <div>
                <span>■　</span><span th:text="${shopName}"></span>
            </div>
            <div>
                <span>■　メールマガジン登録完了のお知らせ</span>
            </div>
            <div>
                <span>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
            </div>
            <br>
        </div>
        <div>
            <div>
                <span>みんなの郵送検査室メールマガジンに</span>
            </div>
            <div>
                <span>ご登録いただきありがとうございます。</span>
            </div>
            <br>
        </div>
        <div>
            <div>
                <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
            </div>
            <div>
                <span>【ご登録アドレス】</span>
                <span th:text="${MA_MAIL}"></span>
            </div>
            <br>
            <div>
                <span>新情報やお得な情報をもりだくさんでお届けします。</span>
            </div>
            <div>
                <span>楽しみにお待ちください！</span>
            </div>
        </div>
        <div>
            <div>
                <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
            </div>
            <div>
                <span>※このメールはご登録いただいたお客様のメールアドレスに自動送信しております｡</span>
            </div>
            <div>
                <span>※本メールに直接返信はできません。</span>
            </div>
            <div>
                <span>※お心当たりのない方は、誠に恐れ入りますが、</span>
            </div>
            <div>
                <span><a th:href="'mailto:' + ${shopInfoMail}" th:text="${shopInfoMail}"></a> までご連絡ください。</span>
            </div>
        </div>
    </div>
    <div th:replace="~{common/signature}"></div>
</body>
</html>
