<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>会員登録完了</title>
</head>
<body>
<div>
    <div><span>┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span></div>
    <div><span>■　</span><span th:text="${shopName}"></span></div>
    <div><span>■　会員登録完了のお知らせ</span></div>
    <div><span>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span></div>
</div>
<br>
<div>
    <div><span th:text="${mailContentsMap.get('M_LAST_NAME')}"></span><span>　</span><span th:text="${mailContentsMap.get('M_FIRST_NAME')}"></span><span> 様</span></div>
    <br>
    <div><span>みんなの郵送検査室 に会員登録いただき</span></div>
    <div><span>誠にありがとうございます。</span></div>
    <br>
    <div><span>ご登録いただきましたメールアドレスやパスワードは、</span></div>
    <div><span>ご注文されるときやご注文状況のご確認時に必要となります。</span></div>
</div>
<br>
<div>
    <div><span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span></div>
    <div><span>【ログインID】</span><span th:text="${mailContentsMap.get('M_ID')}"></span></div>
    <br>
    <div><span>【登録日】</span><span th:text="${mailContentsMap.get('M_ADMISSION_YMD')}"></span></div>
    <br>
    <div><span>◆ご登録情報は、以下のURLよりログイン後、ご確認ください。</span></div>
    <div><span><a th:href="${hostUrl} + 'login/'" th:text="${hostUrl} + 'login/'"></a></span></div>
    <br>
    <div><span>◆パスワードを忘れた場合は、以下のURLにてお手続きください。</span></div>
    <div><span><a th:href="${hostUrl} + 'reset/'" th:text="${hostUrl} + 'reset/'"></a></span></div>
    <div><span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span></div>
    <div><span>※このメールはご登録いただいたお客様のメールアドレスに自動送信しております。</span></div>
    <div><span>※本メールに直接返信はできません。</span></div>
    <div><span>※お心当たりのない方は、誠に恐れ入りますが、</span></div>
    <div><span><a th:href="'mailto:' + ${shopInfoMail}" th:text="${shopInfoMail}"></a> までご連絡ください。</span></div>
</div>
<div th:replace="~{common/signature}"></div>
</body>
</html>
